
/* UTILITIES */

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

body {
    background-color: whitesmoke;
}

#wrapper-email {
    max-width: 60rem;
    aspect-ratio: 3 / 1;
    border: 2px solid green;
    margin: 3rem auto;

}

.access-container {
    width: 90%;
    margin: 0 auto;
}

#wrapper-dice {
    max-width: 60rem;
    aspect-ratio: 3 / 1;
    background-color: green;
    color: white;
    margin: 3rem auto;
}

.dice-area{
    margin: 2rem 3rem;
    text-align: center;
    display: inline-block;
}

.game-box,
#throw-dice {
    margin: 0 auto;
}

.player {

}

img {
    width: 3rem;
}