/* COLOR VARIABLES */

:root {

}

/* UTILITIES */

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

body {
    background-color: whitesmoke;
}

#wrapper-email {
    max-width: 50rem;
    aspect-ratio: 3 / 1;
    background-color: lightgoldenrodyellow;
    margin: 3rem auto;

}

#wrapper-dice {
    max-width: 50rem;
    aspect-ratio: 3 / 1;
    background-color: lightcyan;
    margin: 3rem auto;
}

.dice-area{
    margin: 2rem 3rem;
    text-align: center;
    display: inline-block;
}

.game-box {
    margin: 0 auto;
}

.player {

}

img {
    width: 3rem;
}